@import url('http://fonts.cdnfonts.com/css/futura-std-4');
@import url('http://fonts.cdnfonts.com/css/campton');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.backgound__img{
    background: url(../img/fondopc.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 100vh;
}
.container-fluid{
    width: 95%!important;
    max-width: 1200px!important;
}
.container-fluid-{
    width: 90%!important;
    max-width: 1400px!important;
    margin: 0 auto;
}
.list{
    list-style: none!important;
}
.altura{
    height: 80vh!important;
}
.col-5{
    margin-top: 80px!important;
}
.campton{
    font-family: 'Campton', sans-serif;
    font-style: italic;
    font-weight: 600;
    color: #4389C8;
    font-size: 90px!important;
}
.futura{
    font-family: 'Futura Std', sans-serif;
    font-weight: 600;
    color: #4389C8;
    font-size: 90px!important;
    font-style: italic;
}
.bandera{
    transition: all 3.s ease-in-out;
}
.bandera:hover{
    transform: scale(1.1);
}
.img__logo{
    width: 480px!important;
}
.full{
    width: 100%;
}
.bandera__size{
    width: 45px;
}


@media (min-width: 1199px) { 
    .backgound__img{
        background: url(../img/fondoupdate.png);
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
        height: 100vh;
    }
    .futura{
        font-size: 80px!important;
    }
    .campton{
       margin-top: 80px!important;
        font-size: 90px!important;
    }
    
}
@media (min-width:340px) and (max-width: 800px){
    .futura{
        font-size: 45px!important;
        
    }
    .campton{
       margin-top: 35px!important;
        font-size: 45px!important;
    }
    .backgound__img{
        background: url(../img/fondocellupdate.png);
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
        height: 100vh;
    }
    
    .img__logo{
        width: 300px!important;
    }
    .full__media{
        width: 100%!important;
    }
    .col-1 {
        flex: 1 0 auto!important;
    }
   
}
