.container-fluid{
    width: 90%!important;
    max-width: 1400px!important;
    margin: 0 auto;
}

.border__input{
    border:1px solid #4389C8!important
}
.list__estilos{
    list-style: none;
}
.icon__color{
    color:white!important;
    font-size: 25px;
    object-fit: cover!important;
}
.full{
    width: 100%;
}
.bandera__size{
    width: 25px!important;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    padding: 10px 15px;
    background-color: #064DA1;
    color:white!important;
    font-weight:600;
}
.border__radius{
    border-radius: 30px!important;
}
.btn__font{
    font-size: 20px!important;
    font-weight: bold!important;
}
   
.btn-success{
    background: #14AB4C!important;
    transition: all .3s ease-in-out;
}

.btn-success:hover{
    background: #119b43e5!important;
}
.hero{
    height: 100vh;
}
.hero__diutin{
    background: url(../img/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.altura__hero{
    height: 100px!important;
}
.tamaño__estandar{
    font-size: 80px;
    color: #85C77E;
    font-weight: bold;
}
.tamaño__categoria{
    font-size: 50px;
    color:#4389C8;
    font-weight: bold;
}
.btn{
    border: none!important;;
}
.categoria__hero{
    background: url(../img/fondoVerder.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 15px;
}
.categoria__hero__azul{
    background: url(../img/fondoAzul.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 15px;
}
.title__categoria{
    font-size: 45px;
    color: white;
    font-weight: bold;
}
.btn-dark{
    background-color: white!important;
    color:black!important;
    font-weight: 600!important;
    
}
.btn-dark:hover{
    background-color: rgb(231, 231, 231)!important;
}
.letra__body__{
    color:white!important;
    font-weight: bold;
}
@media (min-width: 1199px) { 
   
    
}
@media (min-width:340px) and (max-width: 800px){
   .full__media{
        width: 100%!important;
    }
    .height__media{
        height: 100%!important;
    }
   .menu__banderas{
    flex-direction: column-reverse!important;
   }
   .logo__diutin{
       margin-bottom:20px!important;
   }
   .hero__media{
    flex-direction: column-reverse!important;
   }
   .hero__diutin{
    background: url(../img/cellhero.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
   }
   .tamaño__estandar{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    }
    .letra__body{
        font-size: 20px;
        text-align: center;
    }
    .tamaño__img{
        width: 150px;
    }
    .categoria__hero__azul,
    .categoria__hero{
        padding: 10px 15px;
    }

    .categoria__hero{

    }

}