.container-fluid{
    width: 90%!important;
    max-width: 1800px!important;
    margin: 0 auto;
}
.font__nunito{
    font-family: 'Nunito', sans-serif!important;
}

.border__input{
    border:1px solid #4389C8!important
}
.list__estilos{
    list-style: none;
}
.icon__color{
    color:white!important;
    font-size: 25px;
    object-fit: cover!important;
}
.full{
    width: 100%;
}
.bandera__size{
    width: 25px!important;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    padding: 10px 10px;
    background-color: #C1D9F7;
    color:#064DA1!important;
    font-weight:600;
    border-radius: 20px!important;
}
.border__standar{
    border-radius: 15px!important;
}
.border__radius{
    border-radius: 20px!important;
}
.stilos__menu{
    border-radius: 14px!important;
    background-color: #064DA1;
    padding: 0px 0px px 0px!important;
   font-size: 15px!important;
   font-weight: bold!important;
   font-family: 'Nunito', sans-serif!important;
}
.stilos__menu:hover{
    background-color: #0f5fc0;
 }
 .navbar-light .navbar-nav .nav-link.active:hover{
    background-color: #3788ebf5;
  }
.btn__font{
    font-size: 20px!important;
    font-weight: bold!important;
}
   
.btn-success{
    background: #14AB4C!important;
    transition: all .3s ease-in-out;
}

.btn-success:hover{
    background: #119b43e5!important;
}
.hero{
    height: 100vh;
}
.hero__diutin{
    background: url(../img/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 80vh;
}
.altura__hero{
    height: 100px!important;
}
.tamaño__estandar{
    font-size: 80px;
    color: #85C77E;
    font-weight: bold;
}
.tamaño__categoria{
    font-size: 50px;
    color:#4389C8;
    font-weight: bold;
}
.btn{
    border: none!important;;
}
.btn__vermas{
    color:#0C4E9D!important;
    border-radius: 20px!important;
    font-family: 'Nunito', sans-serif!important;
    transition: all .3s ease-in-out;
}
.btn__vermas:hover{
    background: whitesmoke!important;
}
.categoria__hero{
    background: url(../img/fondoVerder.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
  
}
.categoria__hero__azul{
    background: url(../img/fondoAzul.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    
}
.categoria__hero__red{
    background: url(../img/fondoRed.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    
}
.categoria__hero__red .tamaño__img{
    width: 300px!important;
}
.title__categoria{
    font-size: 45px;
    color: white;
    font-weight: bold;
}
.btn-dark{
    background-color: white!important;
    color:black!important;
    font-weight: 600!important;
    
}
.btn-dark:hover{
    background-color: rgb(231, 231, 231)!important;
}
.letra__body__{
    color:white!important;
    font-weight: bold;
}

.btn-info{
    background: #064DA1!important;
    color: white!important;
    transition: all .4s ease-in-out;
}
.btn-info:hover{
    background-color:#1565c5!important
}
.card-body{
    padding: 10px 10px;
}
.fw-bolder{
    font-weight: 600!important;
}
.cardsito{
    border: 1px solid  #f2f2f2;
}

.redes__social{
    background: #3b5998;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    color:white;
}
.redes__social_instagram {
    background: #d6249f;
    
    width: 65px;
    height: 65px;
    border-radius: 10px;
    color:white;
}
.redes__social_link {
    background: #0077b5;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    color:white;
}
.redes__social:hover{
    background:#344f88 ;
    cursor: pointer;
}
.redes__social_instagram:hover{
    background: #b11981;
    cursor: pointer;
}
.redes__social_link:hover {
    background: #045d8d;
    cursor: pointer;
}

.icon-size{
    font-size: 35px;
    font-weight:300;
}
.text__social{
    font-weight: 600;
}
nav::before{
    content: "";
  
}
/** Footer**/
.footer-distributed {
    background-color: rgb(24, 62, 138);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: rgb(86, 126, 207);
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #eef6ff;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(24, 62, 138);
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
.my__blog{
    height:400px;
    width: 100%!important;
    background-position: center!important;
    background-size:cover!important;
}
.my__blog:hover{
   cursor: pointer!important; 
}
.fs__ico{
    font-size: 20px;
}
.text__justify{
    text-align: justify;
}
.icon__fondo{
    padding: 15px 15px;
    background-color: #f2f2f2;
    color:#344f88;
    font-size:30px;
}
.border__cien{
    border-radius: 50%;
}
.letra{
    font-size: 20px;
    font-weight: 300;
}
.nuevo__hero{
    background: url(../img/banner-1.jpg)!important;
    width: 100%!important;
 
    background-position: center!important;
    background-repeat: no-repeat!important;
    height: 100vh!important;
    object-fit:cover!important;
    background-size:cover!important;
}
.nuevo__hero__dos{
    background: url(../img/banner-2.jpg)!important;
    width: 100%!important;
    max-width: 100%!important;
    object-fit: cover!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    height: 100vh!important;
}
.nuevo__hero__tres{
    background: url(../img/banner-3.jpg)!important;
    width: 100%!important;
    max-width: 100%!important;
    object-fit: cover!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    height: 100vh!important;
}
.nuevo__hero__cuatro{
    background: url(../img/banner-4.jpg)!important;
    width: 100%!important;
    max-width: 100%!important;
    object-fit: cover!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    height: 100vh!important;
}
.text__visibly,
.text__visibly-1,
.text__visibly-2{
    display: none!important;
}


.letra__baner{
    font-family: 'Nunito', sans-serif!important;
        color: white!important;
        font-size: 21px;
        font-weight: 900!important;
        line-height: 1;
}

.fondo__diuitn{
    background: url(../img/fondo-por-que.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    height: 690px;
  
}
.fondo__diuitn h1{
  font-weight: bold;
  color: #164194;
  
}
.card__diutin{
    background-color: #eef6ff;
    width: 320px!important;
    height: 498px;
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(10,40,66,0.2);
-moz-box-shadow: 0px 0px 20px 3px rgba(10,40,66,0.2);
box-shadow: 0px 0px 20px 3px rgba(10,40,66,0.2);
}
.card__body h2{
    color: #164194;
    font-weight: bold;
}
.text__justifys{
   text-align: justify;
   color: #164194;
   font-size: 16px;
}
.card__catgory{
    background: white;
    height: 130px;
    
}

.categoria__form{
    border:1px solid #c2c2c2
}
.header__category{
    padding: 10px 15px;
    background: #14AB4C;
}

.card__list{
    background: #f2f2f2;
}
.text-warning{
    color: gold;
}
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }

@media (min-width: 1199px) { 
   
    
}
@media (min-width:340px) and (max-width: 800px){
   
   .full__media{
        width: 100%!important;
    }
    .height__media{
        height: 100%!important;
    }
    .height__media__p{
        height: auto!important;
        padding: 10px!important;
    }
    .mt-query{
        margin-top: 20px!important;
    }
    .mb-query{
        margin-bottom: 20px!important;
    }
    .list_product{
        flex-wrap: wrap;
    }
    .list_product .card__catgory{
        height: auto;
        margin-bottom: 20px;
        padding: 10px 15px;
    }
    .nuevo__hero{
        background: url(../img/banner-pequeño-1.jpg)!important;
        background-size: cover!important;
        background-position: center!important;
        object-fit: cover!important;
        max-width:100%!important;
        height: 100vh!important;
    }
    .nuevo__hero__dos{
        background: url(../img/banner-pequeño-2.jpg)!important;
        background-size: cover!important;
        background-position: center!important;
        object-fit: cover!important;
        max-width:100%!important;
        height: 100vh!important;
    }
    .nuevo__hero__tres{
        background: url(../img/banner-pequeño-3.jpg)!important;
        background-size: cover!important;
        background-position: center!important;
        object-fit: cover!important;
        max-width:100%!important;
        height: 100vh!important;
    }
    .nuevo__hero__cuatro{
        background: url(../img/banner-pequeño-4.jpg)!important;
        background-size: cover!important;
        background-position: center!important;
        object-fit: cover!important;
        max-width:100%!important;
        height: 100vh!important;
    }
    .btn__vermas{
        width: 50%;

    }
    .buton__espacio{
        height: 160%!important;
        margin-bottom: 20px!important;
    }
 
    .text__visibly{
        display: block!important;
        font-family: 'Nunito', sans-serif!important;
        color: white!important;
        font-size: 21px;
        font-weight: 900!important;
        line-height: 1;
        margin-top: 80px!important;
        text-align: center!important;
    }
    .text__visibly-1{
        display: block!important;
        font-family: 'Nunito', sans-serif!important;
        color: white!important;
        font-size: 21px;
        font-weight: 900!important;
        line-height: 1;
        margin-top: 160px!important;
        text-align: center!important;
    }
    .text__visibly-2{
        display: block!important;
        font-family: 'Nunito', sans-serif!important;
        color: white!important;
        font-size: 21px;
        font-weight: 900!important;
        line-height: 1;
        
        text-align: center!important;
    }
    
    .buton__espacio .col-2{
       display: flex!important;
       justify-content: center!important;
        width: 100%!important;
    }
    .nuevo__hero__dos .btn__vermas{
        display: none!important;
    }
    .container-fluid{
        width: 90%!important;
        max-width: 1200px!important;
        margin: 0 auto;
    }
    .banderitas{
        display: none;
    }
    .stilos__menu{
        
        padding: .375rem .75rem!important;
        border-radius: 20px!important;
       font-family: 'Nunito', sans-serif!important;
    }
    .text__center_query{
        text-align: center!important;
    }
   .menu__banderas{
    flex-direction: column-reverse!important;
   }
   .logo__diutin{
       margin-bottom:20px!important;
   }
   .hero__media{
    flex-direction: column-reverse!important;
   }
   .hero__diutin{
    background: url(../img/cellhero.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
   }
   .tamaño__estandar{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    }
    .letra__body{
        font-size: 20px;
        text-align: center;
    }
    .tamaño__img{
        width: 150px;
    }
    .categoria__hero__azul,
    .categoria__hero{
        padding: 10px 15px;
    }

    .categoria__hero__red{
        padding: 10px 15px;
    }
    .glider-contain{
        width: 100%!important;
    }
    .my__blog img{
        width: 100%!important;
        background-size: cover!important;
    }
    .text__center__query{
        margin: auto!important;
    }
    .separados{
        margin-bottom: 10px!important;
    }
    .navbar::before{
        content: "";
        height: 40px!important;
    }
    .border__radius{
        border-radius: 20px!important;
        padding: 10px 10px;
    }
    .media__alto{
        height: auto!important;
    }
    .padding__media{
        padding: 15px 15px!important;
    }
    .delete{
        display: none!important;
    }
}
.glider-dot{
    background-color: white!important;
}
.glider-dot.active{
    background-color: #164194!important;
}
.font__oscuro{
    font-weight: 500;
    
}
/* Blog */
.hero__blog{
    background: url(https://cdn.pixabay.com/photo/2020/03/06/08/00/laptop-4906312_960_720.jpg);
    background-size: cover ;
    background-position: center;
    width: 100%;
    height: 480px;
    
}

/** reset **/
.bg-info{
    background-color: #064DA1!important;
}

@media (min-width: 992px){
    .mx-lg-5 {
        
        margin-left: 5rem!important;
    }
}

